@media(min-width: 690px){
    
    body {
        background-color: $body_color;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
}


@media(max-width: 690px){
    body {
        background-color: $body_color;
        min-height: 100vh;
        // display: flex;
    }
}