$body_color: #393E46;
$background_color: bisque;
$pop-up-background-color: rgba(244, 174, 9, 0.974);
$font_color: #4ECCA3;
$border-color: green;
$footer_font: #EEEEEE;
$hide-btn-color: rgb(135, 135, 232)
